.idea/
*.pdnBak
chicago face database
AdvisorChoice/data/*
gov.JSON
.Rproj.user
analysis/.RData
analysis/.Rhistory
analysis/tmp.csv
analysis/explore
*.Rhistory
analysis/spss
data/public/raw/*.JSON
data/*/*.csv
*/data/*/*.JSON
data/private/*
.htaccess
.htpasswd
analysis/.RDataTmp
analysis/.RData
analysis/.Rhistory
node_modules
cypress/screenshots
cypress/videos
cypress/support