.idea/
*.pdnBak
chicago face database
AdvisorChoice/data/*
gov.JSON
.Rproj.user
analysis/.RData
analysis/.Rhistory
analysis/tmp.csv
analysis/explore
analysis/simulation/linear-mixed-effects_results
analysis/data
*.Rhistory
analysis/spss
data/public/raw/*.JSON
data/public/*.csv
!data/public/dictionary_*.csv
*/data/*/*.JSON
data/private/*
.htaccess
.htpasswd
analysis/.RDataTmp
analysis/.RData
analysis/.Rhistory
node_modules
cypress/screenshots
cypress/videos
cypress/support