.idea/
*.pdnBak
chicago face database
AdvisorChoice/data/*
gov.JSON
.Rproj.user
analysis/.RData
analysis/.Rhistory
analysis/tmp.csv
analysis/explore
*.Rhistory
*.JSON
analysis/spss
data/public/raw/*.JSON
data/*/*.csv
data/private/*
.htaccess
.htpasswd
