*.feedback {
    box-sizing: border-box;
}

body.feedback {
    margin: 0;
}

#jspsych-progressbar-container.feedback {
    background-color: white;
}

section.feedback {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    margin: 0;
    padding: 0;
    border-bottom: 1px outset #e7e7e7;
}

section.feedback:first-of-type {
}

body.feedback > section > div {
    width: 100%;
    margin: 0 auto;
    margin: 0;
    padding: 1em;
}

body.feedback > section:nth-of-type(odd) {
    background-color: ghostwhite;
}

h1.feedback:first-of-type {
    margin-top: 0;
}

*.feedback:last-of-type {
    margin-bottom: 0;
}

nav.feedback {
    background-color: palegoldenrod;
    height: 1.5em;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}

ul.feedback {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li.feedback {
    float: right;
}

li.feedback, a.feedback {
    display: block;
    color: #666;
    text-align: center;
    padding: 0.2em;
    text-decoration: none;
}

a.feedback {
    text-decoration: none;
}

li.feedback a.feedback:hover {
    background-color: #ddd;
}

h1.feedback, h2.feedback > a {
    color: black;
    text-decoration: none;
    margin-bottom: 0.5em;
    text-align: left;
}

h2.feedback > a:hover {
    background-color: #f3f3f3;
}

p.feedback {
    padding: 0;
    text-align: justify;
    line-height: 1.1em;
    font-size: 1.2em;
    margin: 0.5em 0;
}

div.feedback.advisor-stats-container > p {
    line-height: 1em;
    font-size: 1em;
    text-align: left;
    padding: 0;
    margin: 0.2em;
}

div.feedback.graph {
    min-width: 40vw;
    min-height: 200px;
    background-color: transparent;
}

div#advisorContainer.feedback {
    display: flex;
}

div.feedback.container {
    display: flex;
}

div.feedback.description > p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 0;
    padding-left: 0;
}

div.feedback.advisor {
    width: 40%;
    border: 5px solid black;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    max-width: 500px;
    display: block;
    margin: auto;
}

div.feedback.advisor-stats-wrapper {
    display: inline-flex;
    width: 100%;
}

div.feedback.advisor-stats-wrapper > p {
    display: block;
}

div.feedback.advisor-stats-wrapper > div.advisor-portrait {
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #0000000d;
}

div.feedback.advisor-stats {
    background-color: #e7e7e726;
    width: 60%;
}

div.feedback.advisor-stats > h3 {
    text-align: center;
    margin: 0;
}

div.feedback.advisor-stats-container {
    margin-left: 0.5em;
}

div.feedback.advisor-stats-container > p:first-of-type {
    margin-bottom: 0.5em;
}

div.feedback.advisor-stats-container > p:last-of-type {
    margin-bottom: 0.5em;
}

div.feedback.advisor-graph {
    width: 100%;
    max-height: 500px;
}

div.confidenceBar {
    width: calc(100% - 3em);
    height: 35px;
    background-color: green;
    display: inline-flex;
    margin: 1em;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;;
    background: #373737;
    border-radius: 0;
    border: 0.2px solid #010101;
}

div#confidenceBarPre, div#confidenceBarPost {
    margin: 1em;
}

div.confidenceMarker {
    height: 100%;
    width: 20px;
    position: relative;
    z-index: 1;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
}

div.confidenceMarker.correct {
    background-color: dodgerblue;
    bottom: 50%;
}

div.confidenceMarker.incorrect {
    background-color: lightpink;
    top: 50%;
}

div.confidenceMarker:hover {
    z-index: 2;
}

div.confidenceMarker:hover div.confidencePopup, div.confidencePopup:hover  {
    display: block;
}

div.confidencePopup {
    position: relative;
    border: 2px solid;
    border-radius: 0.5em;
    font-size: 1em;
    line-height: 1em;
    padding: 0.5em;
    margin: 0;
    min-width: 10em;
    left: 50%;
    display: none;
    z-index: 3;
    bottom: 50%;
    background-color: white;
}

div.confidencePopup.correct {
    border-color: blue;
}

div.confidencePopup.incorrect {
    border-color: red;
}
