:root {
    --advisorChoice-change-instructions-background: #ffffffDD;
    --advisorChoice-change-instructions-fill: #ff3510DD;

    --advisorChoice-advisor-1: #BF3F3F;
    --advisorChoice-advisor-2: #7FBF3F;
    --advisorChoice-advisor-3: #3FBFBF;
    --advisorChoice-advisor-4: #D1CC37;
    --advisorChoice-advisor-5: #3F3FBF;
    --advisorChoice-advisor-6: #bf4aaa;

    --advisorChoice-group-1: #4a0082;
    --advisorChoice-group-2: #268200;
}
body {
    background-color: #a3a3a3;
}
.hidden {
    display: none !important;
}
div#jspsych-content.advisorChoice-minHeight {
    min-height: 500px;
}
div.advisorChoice-marker {
    position: absolute;
}
div.advisorChoice-middleBar {
    width: .25em;
    height: 2em;
    top: calc(50% - 1.2em);
    left: calc(50% - .125em);
    background-color: white;
    z-index: 10;
}
div.advisorChoice-prevAnswer {
    z-index: 1;
    width: 12px;
    height: 3em;
    top: 1px;
    background-color: #fbff03;
}
div.advisorChoice-slider-label {
    position: absolute;
    top: 1em;
    line-height: 1em;
    transform: scaleY(2);
}
div.advisorChoice-slider-label-left {
    margin-left: .5em;
}
div.advisorChoice-slider-label-mid {
    width: 100%;
    margin: auto;
}
div.advisorChoice-slider-label-right {
    margin-right: .5em;
    right: 0;
}
span.advisorChoice-slider-label-direction {
    font-weight: bold;
}
img.advisor-portrait {
    height: 3em;
    border-radius: 100%;
    margin-top: .5em;
}
div.jspsych-jas-present-advice-image.jspsych-jas-present-advice-image-arrow {
    min-height: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

span.advisor-name {
    text-transform: uppercase;
    font-weight: bold;
}

img.advisorChoice-choice {
    max-height: 150px;
    display: block;
    margin: 20px auto;
}
.advisorChoice-choice:hover {
    cursor: pointer;
}
div.advisorChoice-choice div.jspsych-jas-present-advice-image {
    transition: box-shadow .2s;
    box-shadow: none;
}
div.advisorChoice-choice:hover div.jspsych-jas-present-advice-image {
    box-shadow: inset 0 0 5px 1px black;
}
.jspsych-content {
    width: 100%;
}

/* Buttons */
.jspsych-instructions-nav {
    display: inline-flex;
    width: 100%;
}
.jspsych-btn {
    width: 100%;
}

#progressbar-outer {
    width: 80%;
    height: 25px;
    background-color: #F1F1F1;
    display: inline-block;
    border-radius: 5px;
}
#progressbar-inner {
    background-color: #2196F3;
    height: 25px;
    border-radius: 5px;
}
#progressbar-number {
    position: relative;
    margin-top: -21px;
    font-family: "Courier New", monospace;
}
#jspsych-progressbar-container > span {
    font-size: 0.8em;
}
#jspsych-content {
    max-width: 600px;
}
div#jspsych-canvas-sliders-response-stimulus {
    min-height: 250px;
}
div.jspsych-sliders-response-container {
    margin-top: 1em;
}
.jspsych-btn.genTrustQ {
    margin-top: 1em;
}

.jspsych-jas-present-advice-choice-wrapper, .jspsych-jas-present-advice-wrapper {
    position: relative;
}

.jspsych-jas-present-advice-choice-wrapper:nth-of-type(n+2),
.jspsych-jas-present-advice-wrapper:nth-of-type(n+2) {
    margin-top: .5em;
}


.jspsych-jas-present-advice-choice-wrapper:nth-of-type(n+2) img.advisor-portrait,
.jspsych-jas-present-advice-wrapper:nth-of-type(n+2) img.advisor-portrait {
}

.jspsych-jas-present-advice-choice-prompt {
    font-size: 1.3em;
    padding: 0.5em;
}

tr.jspsych-sliders-response-labels td:first-of-type {
    text-align: left;
}

tr.jspsych-sliders-response-labels td:last-of-type {
    text-align: right;
}

div.jspsych-sliders-row.genTrustQ:hover {
}

div.jspsych-jas-present-advice-arrow {
    width: 50%;
    position: absolute;
    top: calc(50% - 1.1em);
    z-index: -1;
    border-radius: 1em;
    line-height: 1em;
    vertical-align: middle;
    padding: 0.5em 1.5em;
    background-color: white !important;
    border: 0.2em solid;
}

div.jspsych-jas-present-advice-arrow-left {
    left: calc(-40% + 10em);
    text-align: left;
}

div.jspsych-jas-present-advice-arrow-right {
    left: calc(40% + 5em);
    text-align: right;
}

div.jspsych-jas-present-advice-image {
    border: .2em solid white;
    padding: 0 1em;
    border-radius: 1em;
    width: 10em;
    margin: auto;
}
@keyframes advisorChoice-change-select {
    from{transform: scale(.667);}
    to {transform: scale(2.33);}
}
@keyframes advisorChoice-change-deselect {
    from{transform: scale(2.33);}
    to {transform: scale(.667);}
}
div.advisorChoice-change-selected .jspsych-jas-present-advice-image,
div.advisorChoice-change-unselected .jspsych-jas-present-advice-image {
    position: relative;
    transition: transform .5s;
}
div.advisorChoice-change-selected:nth-of-type(2) .jspsych-jas-present-advice-image,
div.advisorChoice-change-unselected:nth-of-type(2) .jspsych-jas-present-advice-image {
    margin-top: 2em;
}
div.advisorChoice-change-selected .jspsych-jas-present-advice-image {
    z-index: 2;
    transform: scale(2.33);
}
div.advisorChoice-change-unselected .jspsych-jas-present-advice-image {
    z-index: 1;
    transform: scale(.667);
}
.advisorChoice-change-instructions {
    margin-top: 5em;
    border-radius: 1em;
}

tr.jspsych-sliders-response-labels {
    display: none;
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-1 {
    border-color: var(--advisorChoice-advisor-1);
}
.jspsych-jas-present-advice-image.advisorChoice-advisor-1 {
    background-color: var(--advisorChoice-advisor-1);
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-2 {
    border-color: var(--advisorChoice-advisor-2);
}
.jspsych-jas-present-advice-image.advisorChoice-advisor-2 {
    background-color: var(--advisorChoice-advisor-2);
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-3 {
    border-color: var(--advisorChoice-advisor-3);
}
.jspsych-jas-present-advice-image.advisorChoice-advisor-3 {
    background-color: var(--advisorChoice-advisor-3);
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-4 {
    border-color: var(--advisorChoice-advisor-4);
}
.jspsych-jas-present-advice-image.advisorChoice-advisor-4 {
    background-color: var(--advisorChoice-advisor-4);
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-5 {
    border-color: var(--advisorChoice-advisor-5);
}
.jspsych-jas-present-advice-image.advisorChoice-advisor-5 {
    background-color: var(--advisorChoice-advisor-5);
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-6 {
    border-color: var(--advisorChoice-advisor-6);
}
.jspsych-jas-present-advice-image.advisorChoice-advisor-6 {
    background-color: var(--advisorChoice-advisor-6);
}

.group1 {
    border: .5em solid var(--advisorChoice-group-1) !important;
}
.group2 {
    border: .5em solid var(--advisorChoice-group-2) !important;
}
.jspsych-sliders-response-container.group1, .jspsych-sliders-response-container.group2 {
    padding: .5em;
    margin-bottom: .5em;
    border-radius: 1em;
}
p.group1, p.group2 {
    border-radius: 1em;
    color: white;
    font-weight: bold;
}
p.group1 {
    background-color: var(--advisorChoice-group-1);
}
p.group2 {
    background-color: var(--advisorChoice-group-2);
}

.advisorChoice-change-noOutline:focus {
    outline: none;
}

/* Grid repetition question */
.grid-MCQ canvas {
    padding: .5em;
    background-color: darkgrey;
    border: 5px solid transparent;
}
.grid-MCQ canvas.selected {
    border-color: darkgreen;
}
.grid-MCQ > div {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    padding: .5em;
}
.grid-MCQ p {
    margin: 0;
}
.grid-MCQ input {
    transform: scale(2);
    margin-top: .5em;
}