body {
    background-color: #858585;
}
div.advisorChoice-marker {
    position: absolute;
}
div.advisorChoice-middleBar {
    width: 12px;
    height: 22px;
    top: calc(50% - 15px);
    margin-bottom: -30px;
    background-color: white;
    z-index: 10;
}
div.advisorChoice-prevAnswer {
    z-index: 1;
    width: 12px;
    height: 40px;
    top: calc(50% - 23px);
    margin-bottom: -40px;
    box-shadow: 0 0 5px 0 black;
    border-radius: 3px;
    background-color: yellow;
}
img.advisor-portrait {
    max-width: 550px;
    max-height: 200px;
    border-radius: 1em;
}

span.advisor-name {
    text-transform: uppercase;
    font-weight: bold;
}
img.advisorChoice-choice {
    max-height: 150px;
    display: block;
    margin: 20px auto;
}
img.advisorChoice-choice:hover {
    cursor: pointer;
    background-color: white;
}
.jspsych-content {
    width: 100%;
}
.pad-bottom {
    padding-bottom: 104px; /* don't like the hardcoded value here */
}

#progressbar-outer {
    width: 80%;
    height: 25px;
    background-color: #F1F1F1;
    display: inline-block;
    border-radius: 5px;
}
#progressbar-inner {
    background-color: #2196F3;
    height: 25px;
    border-radius: 5px;
}
#progressbar-number {
    position: relative;
    margin-top: -21px;
    font-family: "Courier New", monospace;
}
#jspsych-progressbar-container > span {
    font-size: 0.8em;
}
#jspsych-content {
    max-width: 600px;
}

#jspsych-sliders-response-container {
    height: 7em;
    margin-top: 1em;
}

.jspsych-jas-present-advice-choice-wrapper, .jspsych-jas-present-advice-wrapper {
    position: relative;
}

.jspsych-jas-present-advice-choice-wrapper:nth-of-type(n+2),
.jspsych-jas-present-advice-wrapper:nth-of-type(n+2) {
    margin-top: .5em;
}


.jspsych-jas-present-advice-choice-wrapper:nth-of-type(n+2) img.advisor-portrait,
.jspsych-jas-present-advice-wrapper:nth-of-type(n+2) img.advisor-portrait {
    margin-top: .5em;
}

.jspsych-jas-present-advice-choice-prompt {
    font-size: 1.3em;
    padding: 0.5em;
}

tr.jspsych-sliders-response-labels td:first-of-type {
    text-align: left;
}

tr.jspsych-sliders-response-labels td:last-of-type {
    text-align: right;
}

div.jspsych-sliders-row.genTrustQ:hover {
    background-color: #dddddd;
}

div.jspsych-jas-present-advice-arrow {
    width: 25%;
    position: absolute;
    top: calc(50% - 4em);
    z-index: -1;
    border-radius: 100%;
    vertical-align: middle;
    padding: 4em 12.5%;
    text-transform: uppercase;
    font-weight: bold;
}

div.jspsych-jas-present-advice-arrow-left {
    left: 0;
    text-align: left;
}

div.jspsych-jas-present-advice-arrow-right {
    left: 50%;
    text-align: right;
}

div.jspsych-jas-present-advice-image {
    border: 2px solid;
    padding: 0;
    border-radius: 1em;
    width: 50%;
    margin: auto;
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-1,
.jspsych-jas-present-advice-image.advisorChoice-advisor-1 {
    background-color: #BF3F3F;
    border-color: #BF3F3F;
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-2,
.jspsych-jas-present-advice-image.advisorChoice-advisor-2 {
    background-color: #7FBF3F;
    border-color: #7FBF3F;
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-3,
.jspsych-jas-present-advice-image.advisorChoice-advisor-3 {
    background-color: #3FBFBF;
    border-color: #3FBFBF;
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-4,
.jspsych-jas-present-advice-image.advisorChoice-advisor-4 {
    background-color: #3F3FBF;
    border-color: #3F3FBF;
}

.jspsych-jas-present-advice-arrow.advisorChoice-advisor-5,
.jspsych-jas-present-advice-image.advisorChoice-advisor-5 {
    background-color: #D1CC37;
    border-color: #D1CC37;
}