:root {
    --advisor-1-p: 169, 5, 255;
    --advisor-1-primary: rgb(var(--advisor-1-p));
    --advisor-1-s: 82, 5, 146;
    --advisor-1-secondary: rgb(var(--advisor-1-s));
    --advisor-2-p: 255, 107, 0;
    --advisor-2-primary: rgb(var(--advisor-2-p));
    --advisor-2-s: 155, 68, 0;
    --advisor-2-secondary: rgb(var(--advisor-2-s));

    --group-1-p: 132, 191, 255;
    --group-1-primary: rgb(var(--group-1-p));
    --group-1-s: 16, 78, 145;
    --group-1-secondary: rgb(var(--group-1-s));
    --group-2-p: 23, 211, 69;
    --group-2-primary: rgb(var(--group-2-p));
    --group-2-s: 8, 123, 36;
    --group-2-secondary: rgb(var(--group-2-s));
}

.advisor-bg-1 {
    background-color: var(--advisor-1-primary);
    fill: var(--advisor-1-primary);
}
.advisor-bg-2 {
    background-color: var(--advisor-2-primary);
    fill: var(--advisor-2-primary);
}
.advisor-border-1 {
    border-color: var(--advisor-1-secondary);
    stroke: var(--advisor-1-secondary);
}
.advisor-border-2 {
    border-color: var(--advisor-2-secondary);
    stroke: var(--advisor-2-secondary);
}

.group-bg-1 {
    background-color: var(--group-1-primary);
    fill: var(--group-1-primary);
}
.group-bg-2 {
    background-color: var(--group-2-primary);
    fill: var(--group-2-primary);
}

.group-border-1 {
    border-color: var(--group-1-secondary);
    stroke: var(--group-1-secondary);
}
.group-border-2 {
    border-color: var(--group-2-secondary);
    stroke: var(--group-2-secondary);
}
