body {
    background-color: #858585;
}
div.advisorChoice-marker {
    position: relative;
}
div.advisorChoice-middleBar {
    width: 12px;
    height: 22px;
    margin-bottom: -30px;
    background-color: white;
    z-index: 10;
}
div.advisorChoice-prevAnswer {
    z-index: 1;
    width: 12px;
    height: 40px;
    margin-bottom: -40px;
    box-shadow: 0 0 5px 0 black;
    border-radius: 3px;
    background-color: yellow;
}
img.advisor-portrait {
    border: 2px solid black;
    padding: 5px;
    background-color: black;
    border-radius: 25px;
    max-width: 550px;
    max-height: 200px;
}
span.advisor-name {
    text-transform: uppercase;
    font-weight: bold;
}
img.advisorChoice-choice {
    max-height: 150px;
    display: block;
    margin: 20px auto;
}
img.advisorChoice-choice:hover {
    cursor: pointer;
    background-color: white;
}
.jspsych-content {
    width: 100%;
}
.pad-bottom {
    padding-bottom: 151px; /* don't like the hardcoded value here */
}
#progressbar-outer {
    width: 80%;
    height: 15px;
    background-color: #F1F1F1;
    display: inline-block;
    border-radius: 5px;
}
#progressbar-inner {
    background-color: #2196F3;
    height: 15px;
    border-radius: 5px;
}
#jspsych-progressbar-container > span {
    font-size: 0.8em;
}
#jspsych-content {
    max-width: 600px;
}

#jspsych-sliders-response-container {
    height: 7em;
    margin-top: 1em;
}

#jspsych-jas-present-advice-choice-prompt {
    font-size: 1.3em;
    padding: 0.5em;
}

tr.jspsych-sliders-response-labels td:first-of-type {
    text-align: left;
}

tr.jspsych-sliders-response-labels td:last-of-type {
    text-align: right;
}