/*
Visual changes in the experiment.
The experiment updates the #content div with a class named after the current
experiment phase.

Experiment phases are Study and Trial phases:
Study-splashScreen
Study-consent
Study-demographics
Study-introduction
Study-training
Study-practiceInstructions
Study-practice
Study-advisorPracticeInstructions
Study-advisorPractice
Study-assignGroup
Study-coreInstructions
Study-core
Study-debrief

Trial-begin
Trial-showStim
Trial-hideStim
Trial-getResponse
Trial-chooseAdvisor
Trial-showAdvice
Trial-getFinalResponse
Trial-showFeedback
Trial-end
Trial-cleanup
 */

/* Tidy up initial view of response timeline */
body:not(.Trial-any) #response-panel {
    opacity: 0;
}

/* Ensure panels show at correct times */
.Study-consent #instructions,
.Study-demographics #questionnaire,
.Study-introduction #instructions,
.Study-practiceInstructions #instructions,
.Study-advisorPracticeInstructions #instructions,
.Study-coreInstructions #instructions,
.Study-assignGroup #instructions,
.Study-blockBreak #instructions,
.report-issue #report-issue,
.fullscreen-error #fullscreen-warning,
.fatal-error #fullscreen-warning {
    height: 100%;
}

/* Training adjustments */
.Study-training:not(.Trial-showFeedback) #training-instructions {
    display: unset;
}
.Study-training .progress-bar .outer {
    animation: progress-demo 10s linear infinite;
}

/* Hide the stimulus when it's not needed. */
.Trial-begin #content #stimulus,
body:not(.Trial-any):not(.Study-practice):not(.Study-advisorPractice):not(.Study-core) #content #stimulus {
    opacity: 0;
}

/* Hide the help button when we're not in practice */
body:not(.Study-practice):not(.Study-advisorPractice) #help-button {
    display: none;
}

/* Hide the issue raising button during training */
body:not(.Study-practice):not(.Study-advisorPractice):not(.Study-core) #report-button {
    display: none;
}

/* Hide response panel until it's first needed */
.Study-training:not(.Trial-getResponse) #response-panel {
    opacity: 0;
}

/* Show fully-opaque response panel when it should be the focus of attention. */
.Trial-getResponse #response-panel,
.Trial-showAdvice #response-panel,
.Trial-getFinalResponse #response-panel,
.Trial-showFeedback #response-panel {
    opacity: 1;
    z-index: 2;
}

/* Background dimming for response options during advice */
.Trial-showAdvice #response-panel .response-panel {
    background-color: var(--response-color-disabled);
}

/* Fade non-advising advisors during advice */
.Trial-showAdvice .advisor-key-row:not(.gives-advice),
.Trial-getFinalResponse .advisor-key-row:not(.gives-advice),
.Trial-showFeedback .advisor-key-row:not(.gives-advice) {
    animation-name: hideTabLeft;
}

/* interactable markers should look interactable */
.Trial-getResponse #response-panel .response-marker:not(.advisor),
.Trial-showAdvice #response-panel .response-marker:not(.advisor),
.Trial-getFinalResponse #response-panel .response-marker:not(.advisor),
.Trial-showFeedback #response-panel .response-marker:not(.advisor) {
    cursor: pointer;
}

/* Confidence collection widget shows during confidence phases */
.Trial-getConfidence #conf-widget,
.Trial-getFinalConfidence #conf-widget {
    display: unset;
}

/* Reveal the feedback marker during feedback phase */
.Trial-showFeedback .response-marker {
    display: unset;
}

/* Show the advice and ghost during advice and final decision phases */
.Trial-chooseAdvisor .response-marker.ghost,
.Trial-showAdvice .response-marker.advisor,
.Trial-getFinalResponse .response-marker.advisor,
.Trial-showFeedback .response-marker.advisor,
.Trial-getResponse .response-marker.ghost,
.Trial-showAdvice .response-marker.ghost,
.Trial-getFinalResponse .response-marker.ghost {
    display: block;
}

/* Show appropriately-sized prompt text during final decision */
.Trial-showAdvice #prompt,
.Trial-chooseAdvisor #prompt,
.Trial-getFinalResponse #prompt {
    font-size: 1em;
}

.Trial-chooseAdvisor .advisor-key-row:hover {
    cursor: pointer;
}

.Study-practice:not(.Trial-any) #stimulus,
.Study-advisorPractice:not(.Trial-any) #stimulus,
.Study-core:not(.Trial-any) #stimulus {
    justify-content: center;
    transform: scale(4);
}

/* Hide the advisor portrait during the coin flip */
.Study-assignGroup .advisor-key-row {
    display: none;
}

/* Show the participant group notification where necessary */
.DatesStudy.Study-core .group-info {
    display: flex;
}

@media screen and (max-height: 500px) {
    .Study-practice:not(.Trial-any) #stimulus,
    .Study-advisorPractice:not(.Trial-any) #stimulus,
    .Study-core:not(.Trial-any) #stimulus {
        transform: unset;
    }
}