/*
Static structure of the elements in the experiment.
*/

@keyframes addTabRight {
    from { margin-left: 110%; }
    to { margin-left: 0; }
}
@keyframes addTabLeft {
    from { left: -110%; }
    to { left: 0; }
}
@keyframes hideTabLeft {
    from {left: 0; }
    to { left: calc(-100% + 0.5em); }
}

:root {
    --content-height: 500;
    --content-width: 900;

    --font-size-small: 24px;
    --font-size-medium: 32px;
    --font-size-large: 72px;

    --tag-border-radius: 0.5em;

    --background: #FFFFFF;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background);
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    text-align: center;
}
div {
    position: relative;
    /* Text placed directly in a DIV should not be selectable */
    user-select: none;
}

:focus {
    outline: none;
}

esm-instruction {
    top: 0;
    background-color: var(--background);
}
esm-instruction::before {
    display: none;
}
esm-instruction-page {
    text-align: center;
    border: none;
    border-radius: 0;
    padding: 0 1em;
}
esm-instruction > div:last-child {
    position: relative;
    bottom: unset;
}

#instructions {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.content-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color: var(--background);
}

#content {
    height: calc(var(--content-height) * 1px);
    width: calc(var(--content-width) * 1px);
    min-height: calc(var(--content-height) * 1px);
    min-width: calc(var(--content-width) * 1px);
    max-width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    border: 4px solid black;
    border-radius: 5px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1em 2em 1fr 150px;
    grid-template-areas:
        "progress"
        "prompt"
        "middle"
        "response";
    grid-gap: 1em;
    gap: 1em;
    align-items: center;
    justify-items: center;
}

#content:fullscreen {
    width: 100vw;
    height: 100vh;
}
#content:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
}
#content:-ms-fullscreen {
    width: 100vw;
    height: 100vh;
}
#content:-moz-full-screen {
    width: 100vw;
    height: 100vh;
}
#content:full-screen {
    width: 100vw;
    height: 100vh;
}

.progress-bar {
    grid-area: progress;
    justify-self: stretch;
}
.prompt {
    grid-area: prompt;
}
.middle {
    grid-area: middle;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 1em;
    gap: 1em;
    grid-template-areas:
        "sidebar stimulus";
    align-items: center;
}
.sidebar {
    grid-area: sidebar;
    justify-self: start;
}
.stimulus {
    grid-area: stimulus;
    justify-self: stretch;
    padding: 0 1em;
}
.grid .stimulus {
    padding: 0 3em;
}
.response {
    grid-area: response;
    align-self: stretch;
    justify-self: stretch;
}
.overlay {
    position: absolute;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: var(--background);
    z-index: 10000;
    transition: height 200ms;
    height: 0;
    width: 100%;
    overflow: hidden;
}
.overlay.open {
    height: 100%;
}

#stimulus {
    opacity: 1;
    font-size: var(--font-size-medium);
    height: 100%;
    width: 100%;
}

#date {
    font-size: var(--font-size-large);
}
#date p {
    margin: 0;
    line-height: var(--font-size-large);
}

#prompt {
    font-size: var(--font-size-medium);
}

#response-panel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s, box-shadow 0.5s;
    opacity: 0.2;
}
esm-response-binary-conf#response-panel {
    display: grid;
}

#conf-widget {
    display: none;
}

#aspect-ratio-warning {
    display: none;
}
@media screen and (max-width: 900px) and (orientation: portrait) {
    #aspect-ratio-warning {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 10;
    }
}

#fullscreen-warning esm-instruction,
#save-warning esm-instruction {
    display: flex;
}

#training-instructions {
    grid-area: prompt;
    width: 100%;
    display: none;
    font-style: italic;
    font-size: var(--font-size-small);
    background-color: var(--esm-help-backgroundColor);
    border: 1px solid var(--esm-help-borderColor);
}
#training-instructions.bump {
    top: 50vh;
    align-self: start;
}

#training-instructions.top {
    bottom: unset;
    top: 0;
}

.big-text {
    font-size: 2em;
    vertical-align: sub;
}

@keyframes progress-demo {
    from { width: 0; }
    to { width: 100% }
}

.progress-bar {
    display: block;
    height: .2em;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 2px auto;
}
.progress-bar .outer {
    height: 100%;
    width: 0;
    border: 1px solid transparent;
    background-color: #00ccfc;
}
.progress-bar .inner {
}

.advisor-key-row, .group-info-row {
    display: flex;
    flex-direction: row;
    line-height: 1em;
    padding: .25em 0;
    margin: 0.25em 0 0 0;
    font-size: var(--font-size-small);
    border-radius: var(--tag-border-radius);
    box-shadow: 0 1px 1px 0 black;
    transition: width .5s;
}
.grid .advisor-key-row, .grid .group-info-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "avatar"
        "details";
    row-gap: .5em;

    border: none;
    box-shadow: none;
    padding: 1em;
    margin: 0;
}
.grid .advisor-key-row.advisor-key-row,
.grid .group-info-row.group-info-row {
    background: none;
}
.grid .advisor-key-row .advisor-intro {
    left: unset;
    top: 100%;
    transform: unset;
    margin: 1em 0;
    width: 200%;
    place-self: center;
}
.grid .advisor-key-row .response-marker.advisor {
    grid-area: avatar;
    place-self: center;
    display: flex;
}
.grid img.identicon {
    width: 7em;
    height: 7em;
}
.grid .advisor-key-row .advisor-details {
    grid-area: details;
    place-self: center;
    width: 100%;
    padding: 0;
}

.group-info {
    display: none;
    justify-content: center;
    align-content: center;
}
.group-info-row {
    display: flex;
    align-content: center;
    justify-content: center;
}

.advisor-key-row .advisor-details {
    width: 50%;
    padding-left: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.advisor-details .advisor-group {
    text-transform: uppercase;
    font-size: .8em;
}
.advisor-key-row span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: var(--font-size-medium);
}
.sidebar .advisor-key-row,
.sidebar .group-info-row {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 1px 1px 1px 0 black;
    padding-right: 1em;
    width: 100%;
    animation: addTabLeft 1s forwards;
}
.right .advisor-key-row {
    border-top-left-radius: var(--tag-border-radius);
    border-bottom-left-radius: var(--tag-border-radius);
    box-shadow: -1px 1px 1px 0 black;

    width: 100%;
    animation: addTabRight 1s forwards;
}
.avatar img {
    height: 100px;
    border-radius: 5px;
}

.advisor-key-row .advisor-intro {
    left: 100%;
    top: -.5em;
    position: absolute;
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 1000;
    transform: translateY(-25%);
    width: fit-content;
    background-color: var(--esm-help-backgroundColor);
    margin-left: 1em;
    padding: .5em;
    border-radius: 1em;
}

/* Markers */
@keyframes adviceAnimation {
    0% {
        opacity: 0;
        left: 50%;
    }
    33% {
        opacity: 1;
        left: 50%;
    }
}

@keyframes adviceAnimationVertical {
    0% {
        opacity: 0;
        bottom: 50%;
    }
    33% {
        opacity: 1;
        bottom: 50%;
    }
}

@keyframes adviceAnimationHorizontal {
    0% {
        opacity: 0;
        left: 425%;
    }
    33% {
        opacity: 1;
        left: 425%;
    }
}

@keyframes adviceAnimationHorizontalRight {
    0% {
        opacity: 0;
        right: 425%;
    }
    33% {
        opacity: 1;
        right: 425%;
    }
}

.marker {
    height: 100%;
    width: 100%;
}
.marker svg {
    width: 1.1em;
    height: 1.1em;
    stroke-width: 2px;
}

.response-marker {
    font-size: 14px;
    z-index: 10;
}

.response-marker:not(.advisor) {
    background-color: var(--group-primary);
}

.confirm, input[type="submit"] {
    color: var(--group-0-primary);
}

.response-marker.advisor {
    position: absolute;
    transform: translateY(-240%);
    animation: adviceAnimation 1000ms forwards ease-out;
    z-index: 1;
    box-shadow: 0 1px 4px 0 var(--group-primary);
}
.response-marker img {
    height: inherit;
}
.response-timeline .response-marker.advisor:before {
    content: " ";
    width: 2px;
    height: 137%;
    position: absolute;
    left: 50%;
    top: calc(100% + 2px);
    background-color: var(--group-primary);
    z-index: -1;
}
.response-timeline .response-marker.advisor:after {
    content: " ";
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: var(--group-primary);
    top: 240%;
    opacity: 1;
    left: 0;
}
.response-marker.advisor.static {
    animation: none;
    position: unset;
    transform: none;
}

.grid .response-marker.advisor {
    --triangle-size: 2em;

    grid-area: answer;
    align-self: start;
    justify-self: end;
    transform: none;
    left: 50%;
    animation-name: adviceAnimationHorizontal;
}
.grid .response-panel.response-right .response-marker.advisor {
    left: unset;
    right: 50%;
    animation-name: adviceAnimationHorizontalRight;
}
.grid .response-marker.advisor.confidence.confidence {
    left: calc(100% + (var(--triangle-size) / 2));
    animation-name: adviceAnimationVertical;
}
.grid .response-panel.response-right .response-marker.advisor.confidence {
    left: unset;
    right: calc(100% + (var(--triangle-size) / 2));
}
.grid .response-panel.response-right .response-marker.advisor {
    justify-self: start;
}
.response-marker.advisor:not(.static):not(.confidence)::after {
    content: close-quote;
    position: absolute;
    top: 100%;
    left: calc(50% - var(--triangle-size));

    /* triangle pointing down */
    border-left: var(--triangle-size) solid transparent;
    border-right: var(--triangle-size) solid transparent;
    border-top: var(--triangle-size) solid var(--group-primary);
    border-bottom: none;
}
.response-marker.advisor.confidence:not(.static)::after {
    content: close-quote;
    position: absolute;
    top: calc(50% - var(--triangle-size));
    right: 100%;

    /* triangle pointing left */
    border-left: none;
    border-right: var(--triangle-size) solid var(--group-primary);
    border-top: var(--triangle-size) solid transparent;
    border-bottom: var(--triangle-size) solid transparent;
}
.response-panel.response-right .response-marker.advisor.confidence:not(.static)::after {
    right: unset;
    left: 100%;

    /* triangle pointing right */
    border-left: var(--triangle-size) solid var(--group-primary);
    border-right: none;
    border-top: var(--triangle-size) solid transparent;
    border-bottom: var(--triangle-size) solid transparent;
}

.response-marker.advisor:not(.static),
.response-marker.feedback,
.response-marker.ghost {
    display: none;
}

.response-marker.feedback {
    color: #ffe96e;
    font-weight: bold;
    position: absolute;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
.response-marker.feedback.participantWrong {
    color: grey;
}
.grid .response-marker.feedback {
    font-size: 10em;
    line-height: 1em;
    place-self: center;
}
.grid .response-marker.feedback .text {
    position: absolute;
    font-size: .5em;
    line-height: 1em;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
}
#content:not(.grid) .response-marker.feedback {
    transform: translateX(calc(-50% - 2px)) scale(3);
    font-size: 14px;
    bottom: 4em;
    line-height: 1em;
    height: 1em;
}
#content:not(.grid) .response-marker.feedback::before {
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    height: calc(1em + 4px);
    content: "";
    width: 1px;
    border-radius: 100%;
    top: calc(1em - 4px);
    position: absolute;
    z-index: -1;
}

.response-marker.ghost {
    opacity: .5;
}

.response-marker-pool {
    background-color: transparent;
}

esm-response-timeline .response-timeline {
    height: 100px;
}

.esm-instruction-button.confirm {
    padding: 0;
    margin: 0;
}
.esm-instruction-button.confirm:not(.questionnaire) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-right: none;
    border-bottom: none;
}

#help-button {
    position: absolute;
    font-size: 1em;
    font-weight: bold;
    margin: 0.3em;
    padding: 0.3em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    border: 1px solid black;
    background-color: transparent;
    top: 2.25em;
    right: .25em;
}
#help-button.show-help {
    background-color: yellow;
}

#report-button {
    position: absolute;
    top: .25em;
    right: .25em;
    z-index: 5;
    font-size: 1em;
    background: transparent;
    border: none;
    opacity: .3;
}
#report-button:hover {
    cursor: pointer;
    opacity: 1;
}
#report-button svg {
    height: 2em;
    width: 2em;
    fill: lightgrey;
}
#report-button:hover #outline {
    fill: #f4c430;
}
#report-button:hover .bang {
    fill: black;
}

#report-issue {
    background-color: rgba(99,99,99,.66);
}
#report-issue form {
    height: 90%;
    width: 90%;
    margin: auto;
    background-color: var(--background);
    border-radius: 2em;
    border: 2px solid black;
    animation: scrollUp 1s ease-in-out;
}


/* Counter widget */
@keyframes tickAway {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: -201;
    }
}
.counter svg {
    fill: transparent;
    stroke: black;
    stroke-width: 4px;
    stroke-dasharray: 201px;
    animation: tickAway forwards linear;
    animation-duration: 3s;
    height: 5em;
    width: 5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.counter circle {
    transform: rotateZ(270deg);
    transform-origin: 50% 50%;
}
.counter span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    line-height: 20px;
    font-size: 32px;
    transform: translate(-50%, -50%);
}

/* Questionnaires */
@keyframes formIn {
    0% {
        transform: translateX(120%);
    }
}
@keyframes formOut {
    100% { transform: translateX(-120%) }
}
#questionnaire {
    position: absolute;
    background-color: var(--background);
}
form.questionnaire {
    animation: formIn 0.2s linear;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--font-size-small);
}
form.questionnaire > div {
    display: flex;
    justify-content: space-evenly;
    height: min-content;
}
form.questionnaire > .question {
    display: flex;
    justify-content: space-evenly;
    height: min-content;
}
form.questionnaire > .items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: min-content;
}
form.questionnaire.demographics > .items {
    flex-direction: row;
}
form.questionnaire div.items > div {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
form.questionnaire.demographics div.items > div {
    width: 25%;
    text-align: left;
}
form div.items > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
form.demographics div.items > div {
    flex-direction: column;
}
form label .fab,
form label .fas {
    line-height: 1.5;
    font-size: 3em;
    cursor: pointer;
}
form label input {
    height: 2em;
    padding-left: .5em;
    width: 60%;
}
form .subject {
    width: 45%;
}
form:not(.questionnaire) .item {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: center;
}
form .item > * {
    padding: .5em;
}
form .item > *:not(input) {
    width: 25%;
}
form input[type="range"] {
    width: 50%;
    cursor: pointer;
}
form .radioQ-item {
    padding: .2em;
    border-radius: .3em;
}
form .bottom, form .question {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
form .bottom {
    margin-bottom: .5em;
}
form .bottom textarea {
    width: 50%;
    height: 80px;
    margin: unset;
}
form input[type="submit"],
form button[name="submit"] {
    height: 80px;
    width: 80px;
    font-weight: bold;
    font-size: 3em;
    font-family: monospace;
    opacity: .6;
    line-height: unset;
}
form input[type="submit"]:not([disabled]),
form button[name="submit"]:not([disabled]) {
    cursor: pointer;
    opacity: 1;
}
form textarea {
    width: 75%;
    margin: 0 auto;
    height: 4em;
    font-size: var(--font-size-small);
}
form .invalid {
    box-shadow: 0 0 10px 0 var(--group-0-primary);
}

/* Feedback display; quite complex */
.feedback-wrapper {
    height: 100%;
    width: 100%;
    background-color: var(--background);
}
.feedback-wrapper p {
    margin: 0;
}
.debrief {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.display {
    height: 60%;
    min-height: 400px;
}
.debrief span {
    font-weight: bold;
}
.legend {
    position: absolute;
    width: 100px;
    height: min-content;
    right: 10px;
    top: 30px;
    border: 1px solid black;
    text-align: center;
    padding: .5em;
    background-color: var(--background);
    transition: all 250ms;
    z-index: 10;
}
.legend.permalink {
    width: min-content;
    left: 10px;
    right: unset;
}
.legend.redo-link {
    right: 10px;
}
.legend:hover {
    width: 150px;
    height: fit-content;
    z-index: 10000;
}
.legend.permalink:hover,
.legend.redo-link:hover,
.legend.permalink:focus,
.legend.redo-link:focus {
    width: fit-content;
    width: -moz-fit-content;
}
.grid .legend.permalink:hover,
.grid .legend.redo-link:hover,
.grid .legend.permalink:focus,
.grid .legend.redo-link:focus {
    width: 300%;
}
.legend > div {
    display: none;
}
.legend:hover > div,
.legend:focus > div {
    display: flex;
}
span.permalink,
span.redo-link {
    user-select: all;
    cursor: copy;
    -moz-user-select: all;
    font-weight: bold;
}
.timeline {
    position: relative;
    width: 90%;
    margin: auto;
    height: 300px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.timeline .line {
    top: calc(100% - 2em);
    height: 5px;
    width: 100%;
    margin: auto;
    background-color: black;
}
.timeline .label {
    position: absolute;
    top: calc(50% + 3px);
    transform: translateX(calc(-50% - 1px));
    cursor: default;
}
.timeline .label::before {
    content: "";
    width: 2px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: -5px;
    left: 50%;
}
.timeline .marker {
    position: absolute;
}
.timeline .marker.estimate {
    height: 1em;
    top: -1em;
    display: none;
}
.timeline .marker.estimate.initial {
    opacity: .5;
    top: 100%;
}
.timeline .marker.estimate.advice {
    height: 1em;
    top: -2em;
    background-color: black;
    opacity: .5;
}
.timeline .marker.target {
    height: calc(var(--feedback-marker-size) * 2);
    width: calc(var(--feedback-marker-size) * 2);
    transform: translate(-50%, -50%);
    color: gold;
    font-size: 2em;
    z-index: 10;
    cursor: pointer;
    position: absolute;
}
.timeline .marker.target.detail {
    background-color: var(--group-0-primary);
    border-radius: 100%;
}
.timeline .debug {
    position: absolute;
    left: 5%;
    text-align: left;
}

.payment-link {
    background-color: yellow;
}

/* Grid layout (high priority) */
#content.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1em 1.5em 1fr 1fr 1fr;
    grid-template-areas:
        "progress progress progress"
        "prompt prompt prompt"
        "stimulus stimulus stimulus"
        "left-cell advisor right-cell"
        "left-cell controls right-cell";
    grid-gap: 0;
    gap: 0;
}

.grid .progress-bar {
    grid-area: progress;
}
.grid .prompt {
    grid-area: prompt;
}
.grid .stimulus {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "text text text"
        ". date .";

    text-align: center;
}
.grid #stimulus {
    grid-area: text;
}
.grid #date {
    grid-area: date;
}
.grid .advisor-key {
    grid-area: advisor;
}
.grid .response {
    grid-area: left-cell-start / left-cell-start / right-cell-end / right-cell-end;

}
.grid .overlay {
    grid-column: span 3;
    grid-row: span 5;
}

/* Grid results display */
.grid .feedback-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2em 1fr 3fr;
    grid-template-areas:
        "payment"
        "links"
        "results";
    grid-gap: 0;
    gap: 0;
}

.grid .feedback-wrapper .payment-link {
    grid-area: payment;
}
.grid .feedback-wrapper .thank-you {
    grid-area: links;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "permalink text invite";
}
.grid .feedback-wrapper .thank-you .permalink {
    grid-area: permalink;
}
.grid .feedback-wrapper .thank-you .text {
    grid-area: text;
}
.grid .feedback-wrapper .thank-you .text h3 {
    margin: 0;
}
.grid .feedback-wrapper .thank-you .redo-link {
    grid-area: invite;
}
.grid .feedback-wrapper .results {
    grid-area: results;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    grid-template-areas:
        "question-list result";
    overflow: hidden;
    border-top: 1px solid black;
}
.grid .feedback-wrapper .results .question-list {
    grid-area: question-list;
}
.grid .feedback-wrapper .results .question-list p {
    cursor: pointer;
    background-color: gainsboro;
}
.grid .feedback-wrapper .results .question-list p:hover {
    background-color: lightgray;
    color: white;
    font-weight: bold;
}
.grid .feedback-wrapper .results .question-list select {
    display: block;
    height: calc(100% - 2em);
    width: 100%;
    overflow-y: auto;
}
.grid .feedback-wrapper .results .question-list select > option {
    height: 1.5em;
}
.grid .feedback-wrapper .results .result {
    --initial-color: aliceblue;
    --advice-color: whitesmoke;
    --final-color: lightskyblue;
    --answer-color: gold;
    grid-area: result;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid .feedback-wrapper .results .result .overall {
    height: 100%;
    width: 100%;
}
.grid .feedback-wrapper .results .result .overall table {
    border-spacing: 2px;
    height: 100%;
    width: 100%;
}
.grid .feedback-wrapper .results .result .overall tr {
    min-height: 2em;
}
.grid .feedback-wrapper .results .result .overall .initial {
    background-color: var(--initial-color);
}
.grid .feedback-wrapper .results .result .overall .advice {
    background-color: var(--advice-color);
}
.grid .feedback-wrapper .results .result .overall .final {
    background-color: var(--final-color);
}
.grid .feedback-wrapper .results .result .overall .advice {
    font-style: italic;
}
.grid .feedback-wrapper .results .result .overall.cloak,
.grid .feedback-wrapper .results .result .overall:not(.cloak) ~ .specific,
.grid .feedback-wrapper .results .result .specific .advice .confidence.cloak {
    display: none;
}
.grid .feedback-wrapper .results .result .specific {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "stimulus stimulus"
        "anchor anchor"
        "initial-left initial-right"
        "advice-left advice-right"
        "final-left final-right"
        "answer-left answer-right";
    max-height: 100%;
}
.grid .feedback-wrapper .results .result .specific > div:not(.anchor) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    margin: 0.3em 1em;
}
.grid .feedback-wrapper .results .result .specific .stimulus-reminder {
    grid-area: stimulus;
}
.grid .feedback-wrapper .results .result .specific .anchor {
    grid-area: anchor;
}
.grid .feedback-wrapper .results .result .specific .anchor .anchor-date {
    font-weight: bold;
    min-height: 1em;
}
.grid .feedback-wrapper .results .result .specific .anchor .anchor-date::after {
     content: close-quote;
     border: 2px dashed black;
     height: 100vh;
     width: 0;
     position: absolute;
 }
.grid .feedback-wrapper .results .result .specific .left {
    grid-column-start: initial-left;
    grid-column-end: initial-left;
}
.grid .feedback-wrapper .results .result .specific .right {
    grid-column-start: initial-right;
    grid-column-end: initial-right;
}
.grid .feedback-wrapper .results .result .specific .initial {
    grid-row-start: initial-left;
    grid-row-end: initial-right;
    background-color: var(--initial-color);
}
.grid .feedback-wrapper .results .result .specific .advice.advice {
    grid-row-start: advice-left;
    grid-row-end: advice-right;
    justify-content: space-evenly;
    background-color: var(--advice-color);
}
.grid .feedback-wrapper .results .result .specific .advice .identicon {
    height: 1.6em;
    width: 1.6em;
}
.grid .feedback-wrapper .results .result .specific .final {
    grid-row-start: final-left;
    grid-row-end: final-right;
    background-color: var(--final-color);
}
.grid .feedback-wrapper .results .result .specific .answer {
    grid-row-start: answer-left;
    grid-row-end: answer-right;
    background-color: var(--answer-color);
}
.grid .feedback-wrapper .results .result .specific .answer .star {
    color: grey;
    font-size: 1.6em;
    vertical-align: middle;
}
.grid .feedback-wrapper .results .result .specific .answer .star.correct {
    color: #ffe96e;
}

    /* Modifications by experiment */
.NoFeedbackContexts .advisor-key-row .advisor-group {
    display: none;
}

/* Browser capability tests */
#outcome.cloak {
    display: none;
}
#outcome .reason {
    color: red;
}

/* Sizing for smaller displays */
@media screen and (max-height: 500px) {
    :root {
        --font-size-large: 32px;
        --font-size-medium: 16px;
        --font-size-small: 12px;

        --content-height: 100vh;
        --content-width: 100vw;
    }
    body {
        font-size: 14px;
    }
    #content {
        border: none;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    esm-response-binary-conf#response-panel .response-panel .response-answer {
        font-size: 1.5em;
    }
    .grid .response-marker.feedback {
        font-size: 5em;
    }
    .grid img.identicon {
        width: 3em;
        height: 3em;
    }
    .grid .response-marker.advisor {
        --triangle-size: 1em;
    }
    .debrief {
        height: 20vh;
    }
    .display {
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
    .display .timeline {
        height: unset;
    }
    p.prompt {
        min-height: 4em;
    }
    form input[type="submit"],
    form button[name="submit"] {
        height: 40px;
        width: 40px;
        font-weight: bold;
        font-size: 3em;
        font-family: monospace;
        opacity: .6;
        line-height: unset;
    }
    form.general input[type="submit"] {
        height: 40px;
        width: 40px;
        font-size: 1em;
    }
    form .subject {
        width: 25%;
    }
}

/* Tiny displays (android onscreen keyboard active) */
@media screen and (max-height: 250px) {
    input[type="text"]:focus,
    form .bottom textarea:focus,
    form textarea:focus {
        height: 100vh;
        width: 70vw;
        z-index: 1000;
        position: fixed;
        left: 0;
        bottom: 0;
        background: var(--background);
    }

    form textarea:focus {
        font-size: var(--font-size-medium);
    }

    form:after {
        content: "\2192";
        position: fixed;
        color: var(--group-0-primary);
        font-weight: bold;
        height: 100vh;
        width: 30vw;
        right: 0vw;
        top: 30vh;
        text-align: center;
        font-size: 70vh;
    }

    *:not(:focus) {
        width: 25vw;
        position: fixed;
        left: -100%;
        z-index: 1;
    }
}