#content {
    justify-content: space-evenly;
}

#content > .progress-bar {
    position: absolute;
    top: 0;
    width: 100%;
}

#content > .frame.top,
#content > .frame.bottom {
    height: unset;
}

#content > .frame.top {
    min-height: 33%;
}

#content > .frame.top > .left {
    justify-content: center;
    width: 30%;
    height: 50vh;
}

.advisor-key-row {
    font-size: var(--font-size-small);
}

#stimulus {
    margin-top: 1.25em;
}

esm-response-timeline .response-timeline {
    height: 100px;
}


/* Feedback display; quite complex */
.feedback-wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
}
.feedback-wrapper p {
    margin: 0;
}
.debrief {
    height: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.debrief span {
    font-weight: bold;
}
.display {
    height: 400px;
}
.legend {
    position: absolute;
    width: 100px;
    height: min-content;
    right: 10px;
    top: 30px;
    border: 1px solid black;
    text-align: center;
    padding: .5em;
    background-color: white;
    transition: all 250ms;
    z-index: 10;
}
.legend.permalink {
    width: min-content;
    left: 10px;
    right: unset;
}
.legend:hover {
    width: 150px;
    height: fit-content;
}
.legend.permalink:hover {
    width: fit-content;
    width: -moz-fit-content;
}
.legend > div {
    display: none;
}
.legend:hover > div {
    display: flex;
}
span.permalink {
    user-select: all;
    cursor: copy;
    -moz-user-select: all;
}
.timeline {
    position: relative;
    width: 90%;
    margin: auto;
    height: 300px;
}
.timeline .line {
    top: calc(100% - 2em);
    height: 5px;
    width: 100%;
    margin: auto;
    background-color: black;
}
.timeline .label {
    position: absolute;
    top: calc(50% + 3px);
    transform: translateX(calc(-50% - 1px));
    cursor: default;
}
.timeline .label::before {
    content: "";
    width: 2px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: -5px;
    left: 50%;
}
.timeline .marker {
    position: absolute;
}
.timeline .marker.estimate {
    height: 1em;
    top: -1em;
    display: none;
}
.timeline .marker.target {
    height: calc(var(--feedback-marker-size) * 2);
    width: calc(var(--feedback-marker-size) * 2);
    transform: translate(-50%, -50%);
    color: gold;
    font-size: 2em;
    z-index: 10;
    cursor: pointer;
    position: absolute;
}
.timeline .marker.target.detail {
    background-color: var(--group-1-primary);
    border-radius: 100%;
}

.payment-link {
    background-color: yellow;
}

@media screen and (max-height: 500px) {
    :root {
        --font-size-medium: 16px;
        --font-size-small: 12px;

        --content-height: 100vh;
        --content-width: 100vw;
    }
    esm-instruction {
        width: 100vw;
        height: 100vh;
    }
    #content {
        border: none;
        width: 100vw;
        height: 100vh;
    }
    .debrief {
        height: 20vh;
    }
    .display {
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
    p.prompt {
        min-height: 4em;
    }
    .counter {
        transform: scale(3);
    }
    .Study-practice:not(.Trial-any) #stimulus,
    .Study-core:not(.Trial-any) #stimulus {
        transform: unset;
    }
}