:root {

}

@keyframes scrollFromRight {
    from {
        transform: translateX(120%);
    }
}
@keyframes scrollToLeft {
    to {
        transform: translateX(-120%);
    }
}

esm-instruction::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 400vw;
    height: 400vh;
    transform: translate(-50%, -50%);
    background-color: rgba(123, 123, 123, 0.21);
}

esm-instruction {
    z-index: 1000;
    position: relative;
    width: 100%;
    height: 100%;
    top: 5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: scrollFromRight 200ms linear;
}

esm-instruction-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2000;
    height: 100%;
    text-align: left;
    border-radius: 8px;
    border: 4px solid black;
    overflow: hidden;
    background-color: white;
}

/*Navigation buttons*/
esm-instruction > div:last-child {
    z-index: 3000;
    position: absolute;
    bottom: 0;
    width: 100%;
}

esm-instruction div:last-child button,
.esm-instruction-button {
    width: fit-content;
    margin: .3em;
    border-radius: .2em;
    font-size: 2em;
    background-color: transparent;
    border: 2px solid #2196F3;
    color: #2196F3;
    cursor: pointer;
}

esm-instruction div:last-child button:first-child,
esm-instruction div:last-child button:disabled,
.esm-instruction-button:disabled {
    opacity: 0.5;
    cursor: unset;
}

esm-instruction div:last-child button:hover,
esm-instruction div:last-child button:focus,
.esm-instruction-button:hover {
    background-color: #2196F3;
    color: whitesmoke;
    cursor: pointer;
}

esm-instruction.exit {
    animation: scrollToLeft forwards 200ms;
}

esm-instruction.cloak,
esm-instruction .cloak {
    display: none;
}