:root {
    --response-label-padding: 5px;
    --response-maker-width: 40px;
    --response-marker-height: 30px;
    --response-vBar-offset: 65px;
    --response-bar-thickness: 25px;

    --response-min-opacity: 0.4;
}

.response-timeline {
    position: relative;
    width: 90%;
    margin: auto;
    height: 300px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.response-timeline .response-line {
    top: calc(100% - 2em);
    height: 5px;
    width: 100%;
    margin: auto;
    background-color: black;
}
.response-timeline .label {
    position: absolute;
    top: calc(50% + 3px);
    transform: translateX(calc(-50% - 1px));
    cursor: default;
}
.response-timeline .label::before {
    content: "";
    width: 2px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: -5px;
    left: 50%;
}

.response-marker-pool {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.response-marker-pool > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.response-marker-pool {
    margin-top: .25em;
    padding-top: .25em;
    transition: background-color 500ms;
}

.response-marker {
    height: 1.5em;
    margin: auto;
    box-shadow: 0 1px 2px 0 black;
}

.response-marker.dragged,
.response-marker.ghost {
    background-color: gold;
}

.response-marker.dragged {
    position: fixed;
}

.response-marker.ghost {
    position: absolute;
    top: -1.5em;
}
.response-marker.ghost.set {
    cursor: pointer;
}
.response-marker.ghost.set:hover {
    opacity: 1;
}
.response-marker.ghost .label {
    top: calc(-2em - 5px);
}
.response-marker.ghost .label::before {
    top: unset;
    bottom: -5px;
}
.response-marker.ghost .label.left {
    left: 0;
    transform: translateX(-100%);
}
.response-marker.ghost .label.left::before {
    left: calc(100% - 2px);
}
.response-marker.ghost .label.right {
    right: 0;
    transform: translateX(100%);
}
.response-marker.ghost .label.right::before {
    left: 0;
}

.response-marker-pool .confirm {
    height: 80px;
    width: 80px;
    font-weight: bold;
    font-size: 3em;
    font-family: monospace;
    opacity: .6;
}
.response-marker-pool .confirm:not(.enabled) {
    border-color: transparent;
}
.response-marker-pool .confirm.enabled {
    opacity: 1;
    cursor: pointer;
}